/* css for main.html */
.custom-sidebar {
	position: fixed;
    top: 65px;
}

.custom-general-info {
	margin-top: 25px;
}

.custom-header-bar {
	margin-right: 0px;
}

.custom-url-field {

}

.custom-url-form {
	max-width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* css for logs_form */
.custom-log-form {
    display: inline-flex;
}
.custom-log-input {
    height: inherit;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 1px;
    background-color: #f5f5f5;
}


/* css for financial controller */

